body {
  background-color: #fcfcfc;
  color: black;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Navigation */

ul.nav-list {
  background-color: #c6994e;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.nav-item {
  float: left;
}

li.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-item a:hover {
  background-color: #000;
}

.current-page {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

/* Main content */

h1 {
  margin-top: 25px;
  font-size: 32pt;
}

h2 {
  margin-top: -20px;
  margin-bottom: 30px;
}

.bio-pic {
  border-radius: 50%;
  width: 220px;
}

.links {
  margin: auto;
  width: 200px;
  font-size: 14pt;
}

ul.link-list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

li.link-item {
  text-align: center;
  margin-bottom: 20px;
  /* padding: 20px 0; */
  border: 2px solid black;
}

li.link-item a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px 0;
}

li.link-item a:hover {
  background-color: gray;
}
